In [1]:
import pandas as pd
import csv
import us
import matplotlib # for testing
%matplotlib inline

# A list of all the URLs to state and county newdx data sets
raw_newdx_urls = {
    2015: {"state":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_State_NewDX_2015.xlsx",
        "county":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_County_NewDX_2015.xlsx"},
    2014: {"state":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_State_NewDX_2014.xlsx",
        "county":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_County_NewDX_2014.xlsx"},
    2013: {"state":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_State_NewDX_2013.xlsx",
        "county":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_County_NewDX_2013.xlsx"},
    2012: {"state":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_State_NewDX_2012.xlsx",
        "county":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_County_NewDX_2012.xlsx"},
    2011: {"state":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_State_NewDX_2011.xlsx",
        "county":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_County_NewDX_2011.xlsx"},
    2010: {"state":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_State_NewDX_2010.xlsx",
        "county":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_County_NewDX_2010.xlsx"},
    2009: {"state":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_State_NewDX_2009.xlsx",
        "county":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_County_NewDX_2009.xlsx"},
    2008: {"state":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_State_NewDX_2008.xlsx",
        "county":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_County_NewDX_2008.xlsx"}
}

# A list of all the URLs to state and county prev data sets.
# Note that there is no prevalence data for 2008, 2009, or 2015.
raw_prev_urls = {
    2014: {"state":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_State_Prev_2014.xlsx",
        "county":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_County_Prev_2014.xlsx"},
    2013: {"state":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_State_Prev_2013.xlsx",
        "county":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_County_Prev_2013v2.xlsx"},
    2012: {"state":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_State_2012-2-1.xlsx",
        "county":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_County_2012-1.xls"},
    2011: {"state":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_State_20111.xlsx",
        "county":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_County_2011-1-1.xlsx"},
    2010: {"state":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_State_2010-1.xls",
        "county":"https://github.com/jamiekasulis/aidsvu_data_grab/raw/master/AIDSVu_County_20101.xls"}
}

In [2]:
def make_raw_df(year, sc, dataset):
    """
    Returns a raw, uncleaned dataframe corresponding to year and state or county in either raw_newdx_urls or raw_prev_urls.
    year is a full four-digit year int, sc is the string "state" or "county", and dataset is the string "prev" or "newdx".
    """
    if dataset == "newdx":
        return pd.read_excel(raw_newdx_urls.get(year).get(sc), skiprows=2)
    elif dataset == "prev":
        if year == 2012:
            # 2012 is a special case where you should not skip any rows.
            return pd.read_excel(raw_prev_urls.get(year).get(sc), skiprows=0)
        elif year == 2011:
            return pd.read_excel(raw_prev_urls.get(year).get(sc), skiprows=0)
        elif year == 2010:
            return pd.read_excel(raw_prev_urls.get(year).get(sc), skiprows=0)
        else:
            return pd.read_excel(raw_prev_urls.get(year).get(sc), skiprows=2)
    else:
        return None

In [3]:
def omit_us_territories(countydf):
    """
    Takes a county data frame and returns a version of it that only includes the 50 U.S. states.
    This is a helper function for clean_newdx_dfs()
    """
    # newdx uses GEO ID
    if 'GEO ID' in countydf.columns:
        countydf = countydf[countydf['GEO ID'].astype('int64') < 60000]
    # prev uses County FIPS Code
    elif 'County FIPS Code' in countydf.columns:
        countydf = countydf[countydf['County FIPS Code'].astype('int64') < 60000]
    
    if 'State' in countydf.columns:
        countydf = countydf[countydf['State'] != 'NaN']

    return countydf

In [4]:
def convert_abbreviations(df):
    """
    Checks to see if the values in the 'state' column are not full state names, but abbreviations.
    If that it is the case, it will convert each abbreviation to the full state name.
    """
    us_state_abbrev = {
        'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO',
        'Connecticut': 'CT','Delaware': 'DE','Florida': 'FL','Georgia': 'GA','Hawaii': 'HI','Idaho': 'ID','Illinois': 'IL',
        'Indiana': 'IN','Iowa': 'IA','Kansas': 'KS','Kentucky': 'KY','Louisiana': 'LA','Maine': 'ME','Maryland': 'MD',
        'Massachusetts': 'MA','Michigan': 'MI','Minnesota': 'MN','Mississippi': 'MS','Missouri': 'MO','Montana': 'MT',
        'Nebraska': 'NE','Nevada': 'NV','New Hampshire': 'NH','New Jersey': 'NJ','New Mexico': 'NM','New York': 'NY',
        'North Carolina': 'NC','North Dakota': 'ND','Ohio': 'OH','Oklahoma': 'OK','Oregon': 'OR','Pennsylvania': 'PA',
        'Rhode Island': 'RI','South Carolina': 'SC','South Dakota': 'SD','Tennessee': 'TN','Texas': 'TX',
        'Utah': 'UT','Vermont': 'VT','Virginia': 'VA','Washington': 'WA','West Virginia': 'WV','Wisconsin': 'WI',
        'Wyoming': 'WY', 'Washington, DC' : 'DC', 'Puerto Rico' : 'PR'
    }
    # Make the keys the values, and vice versa.
    us_state_abbrev = { val:key for (key, val) in us_state_abbrev.items() }
    # Convert every state in the column
    for s in range(len(df['State'])):
        abbr = df['State'].iloc[s]
        if type(abbr) == str:
            if len(abbr) > 2:
                break
            else:
                 df['State'].replace([abbr], us_state_abbrev[abbr], inplace=True)
        else:
            break
    
    return df

In [5]:
# make_raw_df for all newdx data and store in newdx_dfs
def make_clean_newdx_dfs():
    """
    Makes and returns a dictionary of newdx data indexed by year and state/county.
    County data will have their U.S. territories removed.
    """
    newdx_dfs = {}
    for year in raw_newdx_urls.keys():
        # make the data frames
        # strip columns and set them to lower case
        newdx_dfs[year] = {"state": convert_abbreviations(omit_us_territories(make_raw_df(year, 'state', 'newdx'))).rename(columns=lambda x: x.strip().lower()),
                       "county": convert_abbreviations(omit_us_territories(make_raw_df(year, 'county', 'newdx'))).rename(columns=lambda x: x.strip().lower())}
        
    return newdx_dfs

In [6]:
# make_raw_df for all prev data and store in prev_dfs
def make_clean_prev_dfs():
    """
    Makes and returns a dictionary of prevalence data indexed by year and state/county.
    County data will have their U.S. territories removed.
    """
    prev_dfs = {}
    for year in raw_prev_urls.keys():
        prev_dfs[year] = {"state": convert_abbreviations(omit_us_territories(make_raw_df(year, 'state', 'prev'))).rename(columns=lambda x: x.strip().lower()),
                       "county": convert_abbreviations(omit_us_territories(make_raw_df(year, 'county', 'prev'))).rename(columns=lambda x: x.strip().lower())}

    return prev_dfs

In [7]:
prev_dfs = make_clean_prev_dfs()

In [9]:
newdx_dfs = make_clean_newdx_dfs()

In [11]:
def state_or_county(loc_name):
    """
    A helper function for to_timeseries. Returns 'state' if loc_name is a state and 'county' otherwise.
    """
    if loc_name in us.STATES:
        return 'state'
    else:
        return 'county'

In [12]:
def determine_proper_dataset(column_name, loc_type):
    """
    A helper function for determine_proper_years() and to_timeseries().
    Returns either newdx_dfs or prev_dfs, whichever one has a column called column_name.
    loc_type should be either 'city' or 'county'
    """
    # Check newdx_dfs first.
    for year in newdx_dfs.keys():
        df = newdx_dfs[year][loc_type]
        df_cols = df.columns.tolist()
        if column_name in df_cols:
            return newdx_dfs
    
    # Check prev_dfs
    for year in prev_dfs.keys():
        df = prev_dfs[year][loc_type]
        df_cols = df.columns.tolist()
        if column_name in df_cols:
            return prev_dfs
        

    print("ERROR: column_name does not exist in newdx_dfs or prev_dfs based on argument loc_type (county or city).")
    return None

In [13]:
# Determine the proper start and end years to build the time series on.
# If start_year is not a key in the dictionary of data frames, do the closest year working DOWN
# For end_year, do the closest year working UP.
def determine_proper_years(start_year, end_year, data_dict):
    """
    A helper function for to_timeseries. It verifies that data_dict has data for start_year and end_year.
    If not, it will return the minimum start_year and maximum end_year to make a time series as wide as possible.
    Returns a list [start, end]
    data_dict should be prev_dfs or newdx_dfs.
    """
    start = None
    end = None
    
    if start_year in data_dict.keys():
        start = start_year
    else:
        start = min(list(data_dict.keys()))
    if end_year in data_dict.keys():
        end = end_year
    else:
        end = max(list(data_dict.keys()))

    return [start, end]

In [14]:
def get_valid_years(year_range, data_dict):
    """
    A helper function for get_timeseries.
    Given a 2-element list [start_year, end_year] and a data_dict that is either newdx_dfs or prev_dfs,
    return an ordered list (ascending) of years that are actually in data_dict.
    This function is meant to account for the fact that there may be missing years of data.
    """
    start = year_range[0]
    end = year_range[1]
    
    years = list(range(start, end+1)) # all the years in year_range
    proper_years = [] # ordered list of the years in year_range that we have data for
    
    # add the years that we have data for to proper_years
    keys = data_dict.keys()
    for year in years:
        if year in keys:
            proper_years.append(year)
    
    # impose ascending order on proper_years
    proper_years.sort()
    return proper_years

In [21]:
def to_timeseries(column_name, start_year, end_year, location, state = "n/a", data_dict = "n/a"):
    """
    Returns a 2D table (year x value) going from start_year to end_year, where the values are from whichever column in
    either newdx or prev data that matches the column_name argument.
    The argument data_set should be either "prev" or "newdx". Defaults to newdx if no value is passed.
    Defaults to 2008 and 2014 for start and end years.
    data_dict may be either newdx_dfs or prev_dfs. This is an optional argument passed by create_timeseries_dataframe()
    to save some work.
    """
    # set loc_header
    sc = state_or_county(location)
    if sc == 'county' and state == 'n/a':
        print("You must include the name of the state with the county!")
        return
    
    if sc == 'state':
        loc_header = 'state'
        loc_type = 'state'
    else:
        loc_header = 'county name'
        loc_type = 'county'
    
    # Grab the dictionary of data frames that we should be looking for column_name in
    if data_dict == 'n/a':
        data_dict = determine_proper_dataset(column_name, loc_type)
    elif data_dict == 'prev':
        data_dict = prev_dfs
    elif data_dict == 'newdx':
        data_dict = newdx_dfs
    else:
        print("Invalid data_dict passed!")
        return
    
    # Verify that the time range is valid
    time_range = determine_proper_years(start_year, end_year, data_dict)
    
    # Make an ordered list of the valid years in the time range (there may be holes), which we will iterate through later
    data_years = get_valid_years(time_range, data_dict)
    
    # Create the time series.
    time_series = pd.DataFrame(columns = ['year', column_name])
    
    # Iterate through every year in data_years, grabbing the value for column_name and storing it to the dataframe
    # called time_series.
    for dy in data_years:
        # If we are looking at counties, we need to match both county name and state
        if sc == 'county':
            current_df = data_dict[dy][loc_type][data_dict[dy][loc_type]['state'] == state]
        
        # Otherwise, we are guaranteed no duplicate states
        else:
            current_df = data_dict[dy][loc_type]
        
        # Append the new value to the dataframe
        #print("dy=" + str(dy) + " of " + location)
        value = current_df[current_df[loc_header] == location][column_name].iloc[0]
        time_series = time_series.append({'year': dy, column_name: value}, ignore_index=True)
    
    
    return time_series[['year', column_name]]

In [22]:
to_timeseries('new diagnoses rate', 2010, 2014, 'Fairfield County', 'Connecticut')

   year new diagnoses rate
0  2010                 14
1  2011                 13
2  2012                 10
3  2013                 12
4  2014                 13

In [17]:
# Test: state prev
to_timeseries('black rate', 2010, 2014, 'Connecticut', 'state')

dy=2010 of Connecticut

IndexError: single positional indexer is out-of-bounds

In [18]:
to_timeseries('new diagnoses state rate',  2008, 2014, 'Connecticut', 'state')

ERROR: column_name does not exist in newdx_dfs or prev_dfs based on argument loc_type (county or city).

AttributeError: 'NoneType' object has no attribute 'keys'

In [19]:
# Test: state newdx
to_timeseries('new diagnoses black rate', 2008, 2018, 'Connecticut', 'state')

ERROR: column_name does not exist in newdx_dfs or prev_dfs based on argument loc_type (county or city).

AttributeError: 'NoneType' object has no attribute 'keys'

In [20]:
# Test: county newdx
to_timeseries('new diagnoses rate', 2008, 2018, 'Fairfield County', 'Connecticut')

dy=2008 of Fairfield County
dy=2009 of Fairfield County
dy=2010 of Fairfield County
dy=2011 of Fairfield County
dy=2012 of Fairfield County
dy=2013 of Fairfield County
dy=2014 of Fairfield County
dy=2015 of Fairfield County

   year new diagnoses rate
0  2008                 15
1  2009                 14
2  2010                 14
3  2011                 13
4  2012                 10
5  2013                 12
6  2014                 13
7  2015                  8

### Build timeseries CSVs
Every county is a row, and each column is a year.
* total rate x (prev and new dx) = 2 dfs
* black, white, hispanic rates x (prev and new dx) = 6 sheets
* men black, white, hispanic rates x (prev and new dx) = 6 sheets
* women black, white, hispanic rates x (prev and new dx) = 6 sheets

Naming convention:
* ts_men_black_prev_rate.csv
* ts_black_newdx_rate.csv

In [71]:
def create_timeseries_dataframe(column_name, data_set, startyear=2008, endyear=2020):
    """
    Grabs column_name for each county in data_set dataframes, where data_set is either 'newdx' for newdx_dfs
    or 'prev' for prev_dfs,
    from startyear to endyear. (Will default to the full range of data available).
    
    Dataframe will have the following format:
                     geo_id  2008   2009   ...
    county, state   |###    |###  | ###  | ...

    This is a helper function for create_csv().
    """
    # Get proper dictionary, either newdx_dfs or prev_dfs
    if data_set == 'newdx':
        data_dict = newdx_dfs
    elif data_set == 'prev':
        data_dict = prev_dfs
    else:
        print("Invalid data_set passed to create_timeseries_dataframe!")
        return
    
    all_timeseries = pd.DataFrame()
    row_indices = [] # a list of all the county names, in the order that they are added. We will make this our df index.
    column_headers = None
    
    # Iterate through every row (county). Create a time series for each one, appending to the one before it.
    for index, row in data_dict[startyear]['county'].iterrows():
        county = row['county name']
        state = row['state']
        
        # create time series df for current county
        ts = to_timeseries(column_name, startyear, endyear, county, state, data_set)
        
        # add county, state to row_indices so we can index with this later
        row_indices.append(county + ", " + state)
        #transpose to have years as headers
        ts = ts.transpose()
        
        # save the years for columns. Can rewrite this code so we only have to do this once, but later...
        column_headers = ts.iloc[0]
        
        # now append this to all_timeseries
        all_timeseries = all_timeseries.append(ts.iloc[1]) # iloc[1] because iloc[0] is a row of false headers now
    
    # Change the columns and index of all_timeseries
    all_timeseries.columns = column_headers
    all_timeseries.index = row_indices
    
    return all_timeseries

In [72]:
test = create_timeseries_dataframe('new diagnoses rate', 'newdx', 2008, 2018)

In [76]:
test.head(5)

year                     2008  2009  2010  2011  2012  2013  2014  2015
Autauga County, Alabama  20.0  17.0  -1.0  16.0  16.0  -1.0  13.0  11.0
Baldwin County, Alabama  12.0   9.0   7.0  13.0   8.0   6.0  10.0   9.0
Barbour County, Alabama  24.0  20.0  -1.0  22.0  -1.0  -1.0  -1.0  -1.0
Bibb County, Alabama     -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0
Blount County, Alabama   -1.0  15.0  -1.0  -1.0  -1.0  -1.0  10.0  -1.0

In [80]:
to_timeseries('new diagnoses rate', 2008, 2018, 'Autauga County', 'Alabama')

   year new diagnoses rate
0  2008                 20
1  2009                 17
2  2010                 -1
3  2011                 16
4  2012                 16
5  2013                 -1
6  2014                 13
7  2015                 11